{
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.html", "**/*.pug"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
