extends base

block body
  main.login-main
    .login-form
      h2.heading-secondary.ma-bt-lg Enter your email address
      form.form.form--login
        .login-form__group
          label.login-form__label(for='email') Email address
          input#email.login-form__input(
            type='email',
            placeholder='you@example.com',
            required
          )
        .login-form__group.flex.space-between
          button.btn-auth.btn-auth-forgot_password FORGOT PASSWORD
          a.btn-auth.btn-auth-back2.btn--small(href='/login') back
