extends base

block body
  main.fullpage
    section.formConfirm
      h1.left-shift We sent you an email
      h1.mid-shift Please confirm you&apos;re real &#x1F60C;
      h1.right-shift Thank you for your request
      a.return-home-link.link(href='/') Return Home
