doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title request email
  body
    p(style='font-size: 14px; font-weight: 500; color: #000')
      span(style='font-weight: 700') Full Name:
      | --fullName
    p(style='font-size: 14px; font-weight: 500; color: #000')
      span(style='font-weight: 700') Email:
      | --email
    p(style='font-size: 14px; font-weight: 500; color: #000')
      span(style='font-weight: 700') Budget:
      | --budget
    p(style='font-size: 14px; font-weight: 500; color: #000')
      span(style='font-weight: 700') Type of website:
      | --websiteType
    p(style='font-size: 14px; font-weight: 500; max-width: 580px; color: #000')
      span(style='font-weight: 700') Message:
      | --message
