extends base

block body
  main.fullpage
    section.userConfirmed
      h1.left-shift We have received your request &#x1F932;
      h1.right-shift thank you for your submission
      a.return-home-link.link(href='/') Return Home
